body {
    background: rgb(182, 175, 175);
}

h1 {
    color: rgb(165, 247, 44);
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
}
.croissant-photo {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}

footer {
    text-align: center;
}

footer a {
    margin: 0 10px;
    color: blueviolet;
}